apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespaces.yaml
  - ../../infrastructure/helm-repositories
  - metallb
  - cert-manager
  - haproxy-ingress
  - cnpg  # CloudNativePG operator for PostgreSQL management
  - monitoring
  - nats
  - temporal
  - trino
  - clickhouse
  - garage  # Garage ingresses (Garage itself managed by Helmfile)
  - longhorn  # Longhorn ingresses (Longhorn itself managed by Helmfile)
  - dns  # Pi-hole DNS server
