apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespaces.yaml
  - ../../infrastructure/helm-repositories
  - metallb
  - metallb-config  # IPAddressPool and L2Advertisement
  - cert-manager
  - haproxy-ingress
  - cnpg  # CloudNativePG operator for PostgreSQL management
  - dns  # Pi-hole DNS server
