apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: dns-system
  namespace: dns-system

namespace: dns-system

resources:
  - namespace.yaml
  - pihole-deployment.yaml
  - pihole-services.yaml
  - pihole-ingress.yaml
